extends layout

block page_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js")
  script(src='/js/xor-operation.js')

block page_content
  p This is a XOR calculator, please check console for results