extends layout

block page_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js")
  script(src='/js/addition-operation.js')

block page_content
  p This is an Addition calculator, please check console for results
  p To interact with calculator, _AdditionCalculator is an already trained neural net for you to interact with