extends layout

block page_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js")
  script(src='/js/bit-addition-operation.js')

block page_content
  p This is a better addition calculator, please check console for results
