extends layout

block page_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js")
  script(src='/js/xor-operation.js')

block page_content
  p This is a XOR calculator, please check console for results
  p In console _XORCalculator is an instance of the XORCalculator that has already been trained. Feel free to play with it!
  p Or call runSet([LEARNING_RATE], [ITERATIONS]) to train and test a XORCalculator of your own choice!
